In [2]:
!conda install numpy=1.19.1 --yes 

!conda install pandas = 1.0.5 --yes

!conda install matplotlib=3.2.2 --yes

!conda install seaborn=0.10.1 --yes

!conda install scikit-learn=0.23.2 --yes 

!conda install lightgbm=2.3.0 --yes 

!conda install optuna=2.0.0 --yes

!conda install xgboost=1.1.1 --yes

!conda install pydotplus=2.0.2 --yes

!conda install six=1.15.0 --yes  

!pip install graphviz=0.14.1 --yes

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Solving environment: ...working...
Found conflicts! Looking for incompatible packages.
This can take several minutes.  Press CTRL-C to abort.
failed

Building graph of deps:   0%|          | 0/4 [00:00<?, ?it/s]
Examining python=3.10:   0%|          | 0/4 [00:00<?, ?it/s]
Examining @/win-64::__win==0=0:  25%|##5       | 1/4 [00:00<00:00,  6.99it/s]
Examining @/win-64::__win==0=0:  50%|#####     | 2/4 [00:00<00:00, 13.86it/s]
Examining @/win-64::__archspec==1=x86_64:  50%|#####     | 2/4 [00:00<00:00, 13.86it/s]
Examining numpy=1.19.1:  75%|#######5  | 3/4 [00:00<00:00, 13.86it/s]


Determining conflicts:   0%|          | 0/4 [00:00<?, ?it/s]
Examining conflict for python numpy:   0%|          | 0/4 [00:00<?, ?it/s]


UnsatisfiableError: The following specifications were found
to be incompatible with the existing python installation in your environment:

Specifications:

  - numpy=1.19.1 -> python[version='>=3.6,<3.7.0a0|>=3.7,<3.8.0a0|>=3.8,<3.9.0a0']

Your python: python=3.10

If python is on the left-most side of the chain, that's the version you've asked for.
When python appears to the right, that indicates that the thing on the left is somehow
not available for the python version you are constrained to. Note that conda will not
change your python version to a different minor version unless you explicitly specify
that.




CondaValueError: invalid package specification: =

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Solving environment: ...working...
Found conflicts! Looking for incompatible packages.
This can take several minutes.  Press CTRL-C to abort.
failed

Building graph of deps:   0%|          | 0/4 [00:00<?, ?it/s]
Examining python=3.10:   0%|          | 0/4 [00:00<?, ?it/s]
Examining @/win-64::__win==0=0:  25%|##5       | 1/4 [00:00<00:00,  7.25it/s]
Examining @/win-64::__win==0=0:  50%|#####     | 2/4 [00:00<00:00, 14.49it/s]
Examining @/win-64::__archspec==1=x86_64:  50%|#####     | 2/4 [00:00<00:00, 14.49it/s]
Examining matplotlib=3.2.2:  75%|#######5  | 3/4 [00:00<00:00, 14.49it/s]


Determining conflicts:   0%|          | 0/4 [00:00<?, ?it/s]
Examining conflict for python matplotlib:   0%|          | 0/4 [00:00<?, ?it/s]


UnsatisfiableError: The following specifications were found to be incompatible with each other:

Output in format: Requested package -> Available versions

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Solving environment: ...working...
Found conflicts! Looking for incompatible packages.
This can take several minutes.  Press CTRL-C to abort.
failed

Building graph of deps:   0%|          | 0/4 [00:00<?, ?it/s]
Examining scikit-learn=0.23.2:   0%|          | 0/4 [00:00<?, ?it/s]
Examining python=3.10:  25%|##5       | 1/4 [00:00<00:00,  6.45it/s]
Examining python=3.10:  50%|#####     | 2/4 [00:00<00:00, 12.90it/s]
Examining @/win-64::__archspec==1=x86_64:  50%|#####     | 2/4 [00:00<00:00, 12.90it/s]
Examining @/win-64::__win==0=0:  75%|#######5  | 3/4 [00:00<00:00, 12.90it/s]
Examining @/win-64::__win==0=0: 100%|##########| 4/4 [00:00<00:00, 13.68it/s]


Determining conflicts:   0%|          | 0/4 [00:00<?, ?it/s]
Examining conflict for scikit-learn python:   0%|          | 0/4 [00:00<?, ?it/s]


UnsatisfiableError: The following specifications were found
to be incompatible with the existing python installation in your environment:

Specifications:

  - scikit-learn=0.23.2 -> python[version='>=3.6,<3.7.0a0|>=3.7,<3.8.0a0|>=3.8,<3.9.0a0|>=3.9,<3.10.0a0']

Your python: python=3.10

If python is on the left-most side of the chain, that's the version you've asked for.
When python appears to the right, that indicates that the thing on the left is somehow
not available for the python version you are constrained to. Note that conda will not
change your python version to a different minor version unless you explicitly specify
that.

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Solving environment: ...working...
Found conflicts! Looking for incompatible packages.
This can take several minutes.  Press CTRL-C to abort.
failed

Building graph of deps:   0%|          | 0/4 [00:00<?, ?it/s]
Examining lightgbm=2.3.0:   0%|          | 0/4 [00:00<?, ?it/s]
Examining @/win-64::__win==0=0:  25%|##5       | 1/4 [00:00<00:00,  3.90it/s]
Examining @/win-64::__win==0=0:  50%|#####     | 2/4 [00:00<00:00,  7.81it/s]
Examining python=3.10:  50%|#####     | 2/4 [00:00<00:00,  7.81it/s]
Examining @/win-64::__archspec==1=x86_64:  75%|#######5  | 3/4 [00:00<00:00,  7.81it/s]
Examining @/win-64::__archspec==1=x86_64: 100%|##########| 4/4 [00:00<00:00, 10.65it/s]


Determining conflicts:   0%|          | 0/4 [00:00<?, ?it/s]
Examining conflict for lightgbm python:   0%|          | 0/4 [00:00<?, ?it/s]


UnsatisfiableError: The following specifications were found
to be incompatible with the existing python installation in your environment:

Specifications:

  - lightgbm=2.3.0 -> python[version='>=2.7,<2.8.0a0|>=3.8,<3.9.0a0|>=3.6,<3.7.0a0|>=3.7,<3.8.0a0']

Your python: python=3.10

If python is on the left-most side of the chain, that's the version you've asked for.
When python appears to the right, that indicates that the thing on the left is somehow
not available for the python version you are constrained to. Note that conda will not
change your python version to a different minor version unless you explicitly specify
that.

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.

PackagesNotFoundError: The following packages are not available from current channels:

  - optuna=2.0.0

Current channels:

  - https://repo.anaconda.com/pkgs/main/win-64
  - https://repo.anaconda.com/pkgs/main/noarch
  - https://repo.anaconda.com/pkgs/r/win-64
  - https://repo.anaconda.com/pkgs/r/noarch
  - https://repo.anaconda.com/pkgs/msys2/win-64
  - https://repo.anaconda.com/pkgs/msys2/noarch

To search for alternate channels that may provide the conda package you're
looking for, navigate to

    https://anaconda.org

and use the search bar at the top of the page.

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.

PackagesNotFoundError: The following packages are not available from current channels:

  - xgboost=1.1.1

Current channels:

  - https://repo.anaconda.com/pkgs/main/win-64
  - https://repo.anaconda.com/pkgs/main/noarch
  - https://repo.anaconda.com/pkgs/r/win-64
  - https://repo.anaconda.com/pkgs/r/noarch
  - https://repo.anaconda.com/pkgs/msys2/win-64
  - https://repo.anaconda.com/pkgs/msys2/noarch

To search for alternate channels that may provide the conda package you're
looking for, navigate to

    https://anaconda.org

and use the search bar at the top of the page.

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Usage:
  pip install [options] <requirement specifier> [package-index-options] ...
  pip install [options] -r <requirements file> [package-index-options] ...
  pip install [options] [-e] <vcs project url> ...
  pip install [options] [-e] <local project path> ...
  pip install [options] <archive url/path> ...

no such option: --yes

### ▶데이터 분석에 필요한 numpy, pandas 라이브러리 임포트하기 
 
```python
import numpy as np
import pandas as pd
```

In [3]:
import numpy as np
import pandas as pd

### ▶pandas의 read_csv 로 데이터 읽어오기  
```python
train_df = pd.read_csv("./data/train.csv")
test_df = pd.read_csv("./data/test.csv")
submission = pd.read_csv("./data/gender_submission.csv")
```

In [4]:
train_df = pd.read_csv("./train.csv")
test_df = pd.read_csv("./test.csv")
submission = pd.read_csv("./gender_submission.csv")

### ▶ 읽어 온 데이터 확인하기
#### 1. 데이터를 전체적으로 파악하는 법
- 데이터의 이름 // train_df
- head(n), tail(n) 함수 // train_df.head(5)
- 행과 열의 갯수 // train_df.shape
- 열의 데이터 타입 // train_df.dtypes

In [5]:
train_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

head, tail 함수 사용하기  
<span style="color:#808080"># train_df.head()</span>  
<span style="color:#808080"># train_df.tail()</span>  
<span style="color:#808080"># train_df.tail(10)</span>

shape 기능 사용하기  
<span style="color:#808080"># print(train_df.shape)</span>  
<span style="color:#808080"># print(test_df.shape)</span>  
<span style="color:#808080"># print(submission.shape)</span>

데이터 테이블 컬럼의 타입 확인하기  
<span style="color:#808080"># train_df.dtypes</span>

### ▶ 읽어 온 데이터 확인하기
#### 2. 변수마다 데이터 파악하기
- 수치형 변수를 집계하는 describe 함수 // train_df.describe()
- 명목형 변수를 집계하는 value_counts() 함수 // train_df["Cabin"].value_counts()
- 결측치를 확인하는 isnull().sum() // train_df.isnull().sum()

수치형 변수를 집계하는 함수: describe  
<span style="color:#808080"># train_df.describe()</span>  
<span style="color:#808080"># test_df.describe()</span>

명목형 변수 집계하기  
<span style="color:#808080"># train_df["Cabin"].value_counts()</span>  
<span style="color:#808080"># train_df["Sex"].value_counts()</span>  
<span style="color:#808080"># train_df["Embarked"].value_counts()</span>

명목형 변수 'Sex'에 대해 집계하기

명목형 변수 'Embarked'에 대해 집계하기

결측치 확인하기: isnull() + sum() 

<span style="color:#808080"># train_df.isnull()</span>  
<span style="color:#808080"># train_df.isnull().sum()</span>  
<span style="color:#808080"># test_df.isnull().sum()</span>

### ■ 데이터 조작하기
#### 1. 데이터 프레임을 자유롭게 조작하기
- 원하는 열만을 뽑아 새로운 데이터 프레임 만들기 // train_df[["Embarked"]], train_df[["Embarked", "PassengerId"]]
- 데이터들을 그룹화하기 // groupby(["Embarked"])
- 결측치가 있는 행을 제외하는 dropna() / group별로 데이터의 개수를 세 주는 count() / unstack()


#### Q. 어느 항구에서 출발했을 때 생존률이 가장 높을까?

원하는 행과 열을 추출하기  
<span style="color:#808080"># train_df["Embarked"]</span>  
<span style="color:#808080"># train_df[["Embarked"]]</span>  
<span style="color:#808080"># train_df[["Embarked", "Survived", "PassengerId"]]</span>

In [6]:
train_df[[]] # [] 개수에 따른 출력 형태 차이

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[891 rows x 0 columns]

Embarked, Survived, PassengerId만을 포함하는 Data Frame을 출력해 보자

<span style="color:#808080"># train_df[["Embarked", "Survived", "PassengerId"]].dropna()</span>

데이터들을 그룹화하기 // groupby(["Embarked"])  
<span style="color:#808080"># train_df[["Embarked", "Survived", "PassengerId"]].dropna().groupby(["Embarked", "Survived"]).count()</span>

<span style="color:#808080"># embarked_df = train_df[["Embarked", "Survived", "PassengerId"]].dropna().groupby(["Embarked", "Survived"]).count().unstack()</span>

### ■ 데이터 조작하기
#### 2. 데이터 프레임을 자유롭게 조작하기
- 새로운 열 추가하기 / embarked_df["survived_rate"] = ...
- 이름이 대신 번호로 데이터 프레임 조작하기 / embarked_df.iloc[행 번호, 열 번호]
- 원하지 않는 행이나 열을 제거하는 drop()

<span style="color:#808080"># embarked_df["survived_rate"] = embarked_df.iloc[:, 1] / (embarked_df.iloc[:, 0] + embarked_df.iloc[:, 1])</span>

In [ ]:
embarked_df.iloc[:,1] # 작업하고 싶은 대상의 열에 숫자, 무시하고 싶은 열에 :
embarked_df["survivevd_rate"] # 생존 확률

### ▩ 데이터 시각화하기
#### 1. 데이터 프레임을 자유롭게 조작하기
- plot 함수 이용하기 / embarked_df.plot.bar()
- 히스토그램 그리기 / plt.his(x=[train_df.Age[train_df.Survived==0], train_df.Age[train_df.Survived==1]], ...)
- 상관관계 그래프 그리기 / pd.corr(), sns.heatmap()

 
<img src="https://matplotlib.org/stable/_static/images/logo2.svg" width="500px" height="500px" title="Matplotlib_Logo"/>

#### matplotlib과 seaborn 임포트하기 
```python
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use("ggplot")
```

In [ ]:
embarked_df.iloc[:,0:2].plot.bar(stacked=True) # 0, 1번째 열만 나타내고 싶을 때 iloc[] 추가

연습문제  
(1) 성별에 따른 생존자 수 그래프 그리기 & 생존율 계산하기   
(2) 티켓 등급에 따른 생존자 수 그래프 그리기 & 생존율 계산하기  
<span style="color:#808080"># sex_df = train_df[["Sex", "Survived", "PassengerId"]].dropna().groupby(["Sex", "Survived"]).count().unstack()</span>  
<span style="color:#808080"># sex_df.plot.bar(stacked=True)</span>  
<span style="color:#808080"># sex_df["survived_rate"] = sex_df.iloc[:, 1] / (sex_df.iloc[:, 0] + sex_df.iloc[:, 1]) </span>

In [ ]:
Pclass_df = train_df[["Pclass", "Survived", "PassengerId"]].dropna().groupby(["Pclass", "Survived"]).count().unstack()
Pclass_df.plot.bar(stacked=True)
Pclass_df["survived_rate"] = Pclass_df.iloc[:,[]]/(Pclass_df.iloc[] + Pclass_df.iloc[])

히스토그램 그리기(막대그래프),
![image.jpg2](https://kr.mathworks.com/help/matlab/ref/histogramofvectordataexample_01_ko_KR.png) |![image.jpg1](https://wikidocs.net/images/page/188126/his_13.png) 
--- | ---  

막대의 개수: bins

In [ ]:
plt.hist(x = [train_df.Age[train_df.Survived==0],train_df.Age[train_df.Survived==1]], bins=8, histtype="barstacked", label["Death", "Survived"])

### 히트맵: 상관계수 분석
<img src = "https://t1.daumcdn.net/thumb/R720x0.fpng/?fname=http://t1.daumcdn.net/brunch/service/user/ax8L/image/2NUtU6PJH-km0Mm7Q13o2k9xH_M.png"/>

In [ ]:
#수치형 변수에 대해서만 다뤄서 Embarked 없음.
train_df.corr()

## One-Hot Encoding: 
### 어떤 카테고리 변수에 대하여 그 값의 여부를 0, 1로 나타내는 방법  
<img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcixI3h%2FbtrC7fs00ei%2FchGsKb2yyG7krH8kSl7JP0%2Fimg.png" />
pd.get_dummies(DataFrame, column=list, drop_first=)

In [ ]:
train_df_corr = pd.get_dummies(train_df, columns=["Emba"]) # 남/여와 같이 이분화되었다면 drop=True 속성 추가
train_df_corr.corr()

sns.heatmap(train_df_corr.corr(), vmax, vmin, center, annot=True)

### ■ 데이터 전처리하기
#### 1. 데이터 병합하여 결측치 처리하기
* loc 함수 이용하기 [!] [iloc과 loc의 차이](https://gagadi.tistory.com/16)
- 서로 다른 두 데이터 프레임 병합하기 / pd.concat([df1, df2])  # 상하 또는 좌우로 합침.
- 서로 다른 두 데이터 프레임 합치기 / pd.merge(df1, df2) # join 테이블

#### Q. Name에 있는 호칭
Mr: 남자, 
Mrs: 기혼 여성, 
Miss: 미혼 여성, 
Ms: 상관 없이 사용 
#### 으로 나이 결측값 대체

In [8]:
# 호칭으로 나이 결측값 대체할 때 train만 사용할 필요 없이 test와 train concat
name_df = all_df["Name"].str.split("[,]", 2, expand=True)
name_df.columns = ["Family_name", "", ""]
named_df
all_df = pd.concat([all_df, name_df], axis=1)
all_df = all_df.drop([], axis=1) # axis=1 유지
# 나머지 똑같음.

NameError: name 'all_df' is not defined

#### Q. Fare(운임) 값을 Pclass의 값의 평균으로 대체

### ■ 데이터 전처리하기
#### 2. 새로운 변수 추가하기

#### Q. 가족이 많은 경우에 탈출이 유리하지 않았을까?

#### Q. 혼자 있는 경우는 또 다를까?

### ■ 데이터 전처리하기
#### 3. 데이터 인코딩하기
- LabelEncoder를 이용한 라벨 인코딩

<img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FdyRbO6%2FbtruE7IGQly%2FhyhFLuuYKCiNDXVzDKaNR0%2Fimg.png" />

```python
from sklearn.preprocessing import LabelEncoder
```